
<div *ngIf="transaction">
    <h2><span jhiTranslate="cloudstockApp.transaction.detail.title">Transaction</span> {{transaction.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="cloudstockApp.transaction.refNo">Ref No</span></dt>
        <dd>
            <span>{{transaction.refNo}}</span>
        </dd>
        <dt><span jhiTranslate="cloudstockApp.transaction.status">Status</span></dt>
        <dd>
            <span jhiTranslate="{{'cloudstockApp.TransactionStatus.' + transaction.status}}">{{transaction.status}}</span>
        </dd>
        <dt><span jhiTranslate="cloudstockApp.transaction.type">Type</span></dt>
        <dd>
            <span jhiTranslate="{{'cloudstockApp.TransactionType.' + transaction.type}}">{{transaction.type}}</span>
        </dd>
        <dt><span jhiTranslate="cloudstockApp.transaction.reason">Reason</span></dt>
        <dd>
            <span>{{transaction.reason}}</span>
        </dd>
        <dt><span jhiTranslate="cloudstockApp.transaction.branch">Branch</span></dt>
        <dd>
            <div *ngIf="transaction.branchId">
                <a [routerLink]="['/branch', transaction.branchId]">{{transaction.branchName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'transaction/'+ transaction.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
