<div>
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<h1>JBancEcho Key Management</h1>
			<br /> <br />
			<div class="alert alert-danger" ng-show="missingFileError">
				<strong>Validation failed!</strong> One or several files are missing. All files are mandatory.
			</div>
			<div class="alert alert-danger" ng-show="missingField">
				<strong>Validation failed!</strong> One or several mandatory fields are missing.
			</div>
			<div class="alert alert-danger" ng-show="jbancEchoPrivateKeyError">
				<strong>Validation failed!</strong> Please check the JBancEcho private key file and
				try again.
			</div>
			<div class="alert alert-danger" ng-show="jbancEchoFileError">
				<strong>Validation failed!</strong> Please check the JBancEcho certificate file and
				try again.
			</div>
			<div class="alert alert-danger" ng-show="thirdPartyFileError">
				<strong>Validation failed!</strong> Please check the Third party certificate file and
				try again.
			</div>
			<div class="alert alert-danger" ng-show="weekSecondPwdError">
				<strong>Validation failed!</strong> New administrator password require 8 to 15 character with at least one upper case letter, one lower case letter, one digit and one special character.
			</div>
			<div class="alert alert-danger" ng-show="weekThirdPwdError">
				<strong>Validation failed!</strong> New product owner password require 8 to 15 character with at least one upper case letter, one lower case letter, one digit and one special character.
			</div>
			<div class="alert alert-danger" ng-show="secondPwdMatchError">
				<strong>Validation failed!</strong> New administrator password does not match the confirm password.
			</div>
			<div class="alert alert-danger" ng-show="thirdPwdMatchError">
				<strong>Validation failed!</strong> New product owner password does not match the confirm password.
			</div>
			<div class="alert alert-danger" ng-show="secondPasswordError">
				<strong>Renew security failed!</strong> Current administrator
				password is not correct. Please check the password and try again.
			</div>
			<div class="alert alert-danger" ng-show="thirdPasswordError">
				<strong>Renew security failed!</strong> Current product owner
				password is not correct. Please check the password and try again.
			</div>
			<div class="alert alert-danger" ng-show="fileError">
				<strong>Renew security failed!</strong> Please check your files and
				try again.
			</div>
			<div class="alert alert-danger" ng-show="renewSecurityError">
				<strong>Renew security failed!</strong> Please check the files and passwords and try again.
			</div>
			<form class="form" role="form">
				<div class="form-group">
					<label>JBancEcho private key upload</label> <br />
					<div class="admin-console-file-upload btn btn-xs btn-default">
						<input type="file" name="file" accept=".key" ng-model="document.fileInput"
							class="upload" id="file"
							onchange="angular.element(this).scope().onChangeFile(0, this.value);" />
						<span name="btn-desc">CHOOSE FILE</span>
					</div>
				</div>
				<div class="form-group">
					<label>JBancEcho certificate upload</label><br />
					<div class="admin-console-file-upload btn btn-xs btn-default">
						<input type="file" name="file" accept=".cer,.crt" ng-model="document.fileInput"
							class="upload" id="file"
							onchange="angular.element(this).scope().onChangeFile(1, this.value);" />
						<span name="btn-desc">CHOOSE FILE</span>
					</div>
				</div>
				<div class="form-group">
					<label>Third party certificate upload</label><br />
					<div class="admin-console-file-upload btn btn-xs btn-default">
						<input type="file" name="file" accept=".cer,.crt" ng-model="document.fileInput"
							class="upload" id="file"
							onchange="angular.element(this).scope().onChangeFile(2, this.value);" />
						<span name="btn-desc">CHOOSE FILE</span>
					</div>
				</div>
				<br /> <br />
				<div class="form-group">
					<label for="currentSecondPasswordPart">Current
						administrator password</label> <input type="password" class="form-control"
						id="currentSecondPasswordPart"
						placeholder="Current administrator password"
						ng-model="currentSecondPasswordPart">
				</div>
				<div class="form-group">
					<label for="secondPasswordPart">New administrator password</label>
					<input type="password" class="form-control" id="secondPasswordPart"
						placeholder="New administrator password"
						ng-model="secondPasswordPart">
				</div>
				<div class="form-group">
					<label for="confirmSecondPasswordPart">Confirm new
						administrator password</label> <input type="password" class="form-control"
						id="confirmSecondPasswordPart"
						placeholder="Confirm new administrator password"
						ng-model="confirmSecondPasswordPart">
				</div>
				<br /> <br />
				<div class="form-group">
					<label for="currentThirdPasswordPart">Current product owner
						password</label> <input type="password" class="form-control"
						id="currentThirdPasswordPart"
						placeholder="Current product owner password"
						ng-model="currentThirdPasswordPart">
				</div>
				<div class="form-group">
					<label for="thirdPasswordPart">New product owner password</label> <input
						type="password" class="form-control" id="thirdPasswordPart"
						placeholder="New product owner password"
						ng-model="thirdPasswordPart">
				</div>
				<div class="form-group">
					<label for="confirmThirdPasswordPart">Confirm new product
						owner password</label> <input type="password" class="form-control"
						id="confirmThirdPasswordPart"
						placeholder="Confirm new product owner password"
						ng-model="confirmThirdPasswordPart">
				</div>
				<button type="submit" class="btn btn-primary" ng-click="submit();">Submit</button>
			</form>
		</div>
	</div>
</div>
