<div>
	<h2>Uploaded File</h2>
	
	<p>There are {{ uploadedFiles.length }} uploaded files.</p>
	<table class="table table-condensed table-striped table-bordered ">
        <thead>
	        <tr title="click to order">
	        	<th width="50px" ></th>
	            <th ng-click="predicate = 'description'; reverse=!reverse">Description</th>
	            <th ng-click="predicate = 'productCode'; reverse=!reverse">Product</th>
	            <th ng-click="predicate = 'modificationTime'; reverse=!reverse">Latest Modification Time</th>
	            <th>File</th>
	            <th>Admin</th>
	        </tr>
        </thead>

        <tr ng-repeat="uploaded in uploadedFiles | orderBy:predicate:reverse" ng-init="sectionIndex = $index">
			<td width="50px" align="center">
				<a class="hand" ng-click="preview(uploaded.brochureId);"> 
					<i class="glyphicon glyphicon-eye-open"></i>
				</a>
			</td>
			<td >{{uploaded.description}}</td>
            <td ><span class="product product-{{uploaded.productCode}}" >{{uploaded.productCode}}</span></td>
            <td >{{uploaded.modificationTime}}</td>
            <td>
            	<div ng-disabled="!uploaded.confirm" class="admin-console-file-upload btn btn-xs btn-default">
				    <input type="file" 
					    name="file" 
					    ng-model="document.fileInput" 
					    id="file" 
					    class="upload" 
					    onchange="angular.element(this).scope().onChangeFile(angular.element(this).scope().$index, this.value);"
					     />
				    <span name="btn-desc">CHOOSE FILE</span>
				</div>
            </td>
            <td>
            	<button class="btn btn-xs btn-primary" ng-disabled="!uploaded.enabled" ng-click="uploadFile($index, uploaded.brochureId);">UPLOAD</button>
            	<button class="btn btn-xs btn-success" ng-disabled="uploaded.confirm" ng-click="confirmFile($index, uploaded.brochureId);">CONFIRM</button>
            	<button class="btn btn-xs btn-warning" ng-disabled="uploaded.confirm" ng-click="rollbackFile($index, uploaded.brochureId);">ROLLBACK</button>
            </td>
        </tr>
    </table>
</div>
