
<div *ngIf="sku">
    <h2><span jhiTranslate="cloudstockApp.sku.detail.title">Sku</span> {{sku.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="cloudstockApp.sku.price">Price</span></dt>
        <dd>
            <span>{{sku.price}}</span>
        </dd>
        <dt><span jhiTranslate="cloudstockApp.sku.cost">Cost</span></dt>
        <dd>
            <span>{{sku.cost}}</span>
        </dd>
        <dt><span jhiTranslate="cloudstockApp.sku.code">Code</span></dt>
        <dd>
            <span>{{sku.code}}</span>
        </dd>
        <dt><span jhiTranslate="cloudstockApp.sku.barcode">Barcode</span></dt>
        <dd>
            <span>{{sku.barcode}}</span>
        </dd>
        <dt><span jhiTranslate="cloudstockApp.sku.product">Product</span></dt>
        <dd>
            <div *ngIf="sku.productId">
                <a [routerLink]="['/product', sku.productId]">{{sku.productName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'sku/'+ sku.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
