<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySkuLabel" jhiTranslate="cloudstockApp.sku.home.createOrEditLabel">Create or edit a Sku</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!sku.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="sku.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cloudstockApp.sku.price" for="field_price">Price</label>
            <input type="number" class="form-control" name="price" id="field_price"
                [(ngModel)]="sku.price" required />
            <div [hidden]="!(editForm.controls.price?.dirty && editForm.controls.price?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.price?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.price?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cloudstockApp.sku.cost" for="field_cost">Cost</label>
            <input type="number" class="form-control" name="cost" id="field_cost"
                [(ngModel)]="sku.cost"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cloudstockApp.sku.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                [(ngModel)]="sku.code" required />
            <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.code?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cloudstockApp.sku.barcode" for="field_barcode">Barcode</label>
            <input type="text" class="form-control" name="barcode" id="field_barcode"
                [(ngModel)]="sku.barcode"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cloudstockApp.sku.product" for="field_product">Product</label>
            <select class="form-control" id="field_product" name="product" [(ngModel)]="sku.productId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="productOption.id" *ngFor="let productOption of products; trackBy: trackProductById">{{productOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
